*.o
*.slo

Makefile*
ui_*.h
*.pro.user
*.pro.swp
*.pro.swo
moc_*.h
moc_*.cpp

*.project
*.cproject
*.settings

*.cmake
CMakeCache.txt
CMakeFiles/

ImageProcessModule/ImageProcessModule

Application/Application

latex
html
build
bin

*.xml
*.jpg
